  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  :root {
      --main-color: #37a6b4;
      --second-color: #77d0d2;
      --third-color: #e9eefa;
  }

  body {
      font-family: "Roboto", sans-serif;
      background: url(IMG_3890.jpg) center/cover no-repeat;
      color: #000;
  }


  /*style main*/

  main {
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .mainSection {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .inputSection {
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(8px);
      border-radius: 10px 0px 0px 10px;
      width: 25vw;
      height: 50vh;
  }

  .formControls {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
  }

  .outputSection {
      height: 50vh;
      width: 45vw;
      border-radius: 0px 10px 10px 0px;
      background: rgba(255, 255, 255, 0.1);
  }

  .inputText {
      display: block;
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid #9D4A92;
      border-radius: 5px;
      font-size: 18px;
      text-align: center;
      padding: 25px;
      resize: none;
      margin-right: 10px;
      margin-left: 10px;
      width: 100%;
  }

  .outputText {
      padding: 40px 30px;
      width: 100%;
      height: 50vh;
      overflow: auto;
  }

  .selectSection {
      font-size: 18px;
  }

  .banner {
      width: 120px;
      padding: 10px;
      border: 1px solid #9D4A92;
      border-radius: 5px;
      background-color: rgba(255, 255, 255, 0.1);
      font-size: 16px;
      color: #333;
      cursor: pointer;
      margin: 15px 0px;
  }

  .inputText:focus,
  .banner:focus {
      border-color: #1A2C75 !important;
      outline: none;
  }

  .btn {
      background-color: #713788;
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 16px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      margin: 10px 0px;

  }

  .btn:hover {
      background-color: #9D4A92;
  }

  textarea,
  pre {
      scrollbar-width: thin;
      scrollbar-color: #FDE06F rgba(255, 255, 255, 0.1);
      border-radius: 20px;
  }

  textarea::placeholder {
      color: #713788;
  }







  /* Style Error Page*/

  .errorSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background: #f8f9fa;
      text-align: center;
      font-family: Arial, sans-serif;
  }

  .statusCode {
      font-size: 5rem;
      color: #dc3545;
      margin: 0;
  }

  .errorText {
      font-size: 1.2rem;
      color: #333;
      margin: 10px 0 20px;
  }

  .btnBack {
      text-decoration: none !important;
      padding: 10px 20px;
      background-color: #1e92ff;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 1rem;
      cursor: pointer;
      display: block;
      margin-top: 20px;
  }

  .btnBack:hover {
      background-color: #0056b3;
  }

  @media (max-width: 767px) {
     main {
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
      }

      .mainSection {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
      }

      .inputSection {
          height: 50vh;
          width: 80vw;
      }

      .outputSection {
          height: 50vh;
          width: 80vw;
      }
      .inputText{
        width: 90%;
      }
  }

@media (min-width: 1025px) and (max-width: 1700px) {
    .inputSection {
        width: 25vw;
    }
    .inputText {
        width: 90%;
    }
 }

  @media (min-width: 768px) and (max-width: 1024px) {
      main {
          height: 100vh;
          display: flex;
          justify-content: center;
          align-items: center;
      }

      .mainSection {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
      }

      .inputSection {
          height: 50vh;
          width: 60vw;
      }

      .outputSection {
          height: 50vh;
          width: 60vw;
      }
      .inputText{
        width: 90%;
      }
  }